
@{
    ViewBag.Title = "Completed";
}

<div class="container">
    <div class="alert alert-success" role="alert">
        <h2>Siparişiniz tamamlandı!</h2>
        <h3>Siparişiniz en kısa zamanda kargoya verilecektir</h3>
    </div>
</div>

